<div style="margin-top: 60px">
    <form #formData = 'ngForm' class="formgroup" (ngSubmit)="Add(formData.value)">
      <div class="form-group">
          <label for="name">Packaging Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Packaging Name" [(ngModel)]="packaging.packaging_name" name="packagingmaterialName">
      </div> 
      <div>
          <button type="submit" [disabled]="!formData.valid" class="btn-btn-basic">Add Packaging</button>
      </div>
    </form>
  </div>
  