<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a href="#" class="navbar-brand">CARE</a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li><a routerLink="warehouses" class="nav-link">Warehouses</a></li>
        <li><a routerLink="products" class="nav-link">Products</a></li>
        <li><a routerLink="components" class="nav-link">Components</a></li>
        <li><a routerLink="packagingmaterials" class="nav-link">PackagingMaterial</a></li>
        <li><a routerLink="rawmaterials" class="nav-link">RawMaterial</a></li>
      </ul>
    </div>
  </div>
</nav>


