<div class="row pt-3" style="margin-top: 60px">
    <div class="col-3">
      <div class="d-block">
        <h4 class="d-inline">Products</h4>
        <fa [name]=" 'plus' " [pull]=" 'right' " [size]="2" routerLink="/products/add" ></fa>
      </div>
  
      <div class="list-group" style="margin-top:20px;">
        <div class="list-group-item" *ngFor= "let product of products" >
          <div class="d-block">
              <h6 class="d-inline">{{product.productName}}</h6>
              <fa [name]="'trash'" [pull] ="'right'" (click)="deleteProduct(product.id)"></fa>
              <fa [name]="'info-circle'" [pull] ="'right'" (click)="productDetails(product)"></fa>
          </div>
        </div>
       
      </div>  
  
    </div>
  </div>